
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
header{
    margin: none;
    padding: 6px;
    background-color: #272727;
    display: flex;
    column-gap: 150px;
    align-items: center;
    padding: 20px 150px;

}

.Logo{
    width: 40px;
}

.navbar a {
    font-family: "Poppins";
    font-weight: 500;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 15px;
}
.navbar a:hover{
    color: #E9BD8C;
}


.menu {
    width: 72%;
    margin: 125px auto 0 auto;
}

.Top-Products h1 {
    text-align: center;
    font-family: "Sansita Swashed", system-ui;
    font-size: 64px;
    font-weight: 500;
    padding: 0 0 30px 0;
}

.produit {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
}

.pp {
    width: 360px;
    height: 430px;
    background-image: url("../images/menu/BG-menu.png");
    background-position: center;
    background-size: cover;
    margin: 8px 5px;
    border-radius: 8px;

}

.price {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px 0 20px;
    color: #F5F5F5;
    align-items: center;
}

.pp img{
    height: 250px;
    padding: 40px 0 0 55px;
}

.price p {
    font-weight: 400;
    font-size: 24px;
}

.infoCard {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 15px 20px;
    color: #F5F5F5;
    align-items: center;
}

.detailCard p {
    font-weight: 400;
    font-size: 20px;
}

input[type="submit"] {
    padding: 10px 15px;
    font-size: 15px;
    background-color: #933C24;
    color: #F5F5F5;
    border-radius: 8px;
}

input[type="submit"]:hover {
    background-color: #b1583f;
}

.firstOrder{
    background-image: url(../images/menu/Rectangle\ 45.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin: 80px auto;
}

.cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.firstOrder h2{
    font-family: "Sansita Swashed";
    color: #933C24;
    font-weight: 600;
    font-size: xx-large;
    margin: 40px 0 0;
}
.firstOrder p{
    font-family: "inter";
    color: #5D5D5D;
    font-weight: 400;
    font-size: x-large;
    text-align: center;
    margin: 40px 0;
}

.Explore-More{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Explore-More h2{
    font-family: "Sansita Swashed", system-ui;
    font-size: 64px;
    font-weight: 500;
    padding: 0 0 60px 0;
}

.cake ul{
    font-family: "Poppins", system-ui;
    color: #5D5D5D;
    font-size: 22px;
    font-weight: 550;
    display: flex;
}

.cake ul li{
    margin: 0 20px;
}

.cakeLine{
    width:73% ;
}
.cake ul li:nth-of-type(1)::after{
    content: "";
    width: 60px;
    height: 5px;
    border-radius: 8px;
    background-color: #933C24;
    display: block;
}

.paceofcake{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 15px;
    row-gap: 15px ;
    margin-top: 70px;
}




.footer {
    margin-top: 150px;
    padding: 20px 90px;
    width: 100%;
    height: 500px;
    margin-bottom: 0;
    background-image: url('../images/BackG-F.png');
    background-position: center;
    background-size: cover;
}

.content {
    padding: 20px 60px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top>img {
    width: 85px;
    height: 85px;
}

.follow {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-right: 120px;
}

.follow p {
    color: #E9BD8C;
    font-size: 24px;
    font-weight: 500;
}

.social img {
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.yellowLine {
    border: 1px solid #E9BD8C;
}

.aboutExplore {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

.AB-EX {
    display: flex;
}

.about {
    margin-right: 40px;
}

.about,
.Explore {
    color: #F5F5F5;
}

.about h3,
.Explore h3,
.RN h3 {
    font-weight: 500;
    color: #E9BD8C;
    font-size: 30px;
}

.about ul li,
.Explore ul li {
    font: bold;
    font-size: 20px;
    margin: 10px 0;
}

.blog {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin-top: 12px;
}

.details .date {
    color: #E9BD8C;
}

.details .desc {
    color: #F5F5F5;
}

.copyright {
    text-align: center;
    position: relative;
    top: 70px;
    color: #737373;
    font-weight: 500;
}